body{
margin:0;
font-family:Arial;
background:#f4f6f9;
}

.sidebar{
width:220px;
height:100vh;
background:#0b5ed7;
position:fixed;
padding:20px;
}

.sidebar h2{
color:white;
}

.sidebar a{
display:block;
color:white;
padding:10px;
text-decoration:none;
}

.sidebar a:hover{
background:white;
color:#0b5ed7;
}

.content{
margin-left:250px;
padding:20px;
}

.cards{
display:flex;
flex-wrap:wrap;
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 2px 5px rgba(0,0,0,.2);
width:220px;
}

table{
width:100%;
border-collapse:collapse;
background:white;
}

th,td{
padding:12px;
border:1px solid #ddd;
}

button{
padding:8px 15px;
background:#0b5ed7;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

.progress{
background:#ddd;
height:20px;
border-radius:20px;
overflow:hidden;
}

.progress-bar{
height:100%;
background:green;
}

.login-body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-container{
background:white;
padding:30px;
border-radius:10px;
width:350px;
box-shadow:0 0 10px gray;
}

input,select{
width:100%;
padding:10px;
margin:10px 0;
}
